.container{
    padding-bottom: 20px 20px;
}
.navbar{
    border-radius: 15px;
}
.price{
    color:goldenrod;
}

.button1{
    font-weight: 700;
    border: none;
    color:black;
    background-color:coral;
    border-radius: 12px;
    padding: 8px 15px;
}
.button2{
    font-weight: 700;
    border: none;
    color:white;
    background-color:lightseagreen;
    border-radius: 12px;
    padding: 8px 15px;
}
.card{
    box-shadow: lightslategray 10px 10px 20px;
}